.divider-3wNib3 {
	border-color: var(--background-secondary) !important;
}
.container-1NXEtd {
	height: 1% !important;
}
/* fix activity cards */
.itemCard-3Etziu {
	border: none;
}
.sidebar-1tnWFu {
	background: none;
}
.panels-3wFtMD {
	margin-top: 10px !important;
}
/*Seperate chatbox and chat*/
/*.channelTextAreaDisabled-1p2fQv {
	display: none;
}
.chatContent-3KubbW {
	background: none !important;
}
.messagesWrapper-RpOMA3 {
	background: #36393f;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

[class*="channelTextArea-"] {
	background: none;
	border-radius: var(--border-radius);
	margin-bottom: auto;
}
[class*="channelTextArea-"] [class*="scrollableContainer-"] {
	padding: 4px 0 4px 0px;
	border-radius: var(--border-radius);
}
[class*="channelTextArea-"] [class*="scrollableContainer-"][class*="hasConnectedBar-"] {
	border-radius: 0px 0px 10px 10px;
}
.typing-2J1mQU {
	bottom: 6px !important;
}
.searchResultsWrap-5RVOkx {
	resize: horizontal;
	min-width: 310px;
	max-width: 418px;
	direction: rtl;
	border-radius: var(--border-radius);
}
[class*="typing-"] {
	grid-row: 1;
	font-size: 13px;
	padding: 3px;
	height: 14px;
	left: 0;
	color: var(--text-muted);
	bottom: 70px !important;
}

.form-3gdLxP {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	top: 8px;
	margin-top: 2px;
	width: 100%;
}
.form-3gdLxP .cooldownWrapper-2k1jHK {
	bottom: 5px !important;
	padding-top: 0;
	margin-top: 0;
	color: #a5a5a5 !important;
}
*/
/* add rounded borders */
.callContainer-HtHELf,
.notice-2HEN-u,
.threadSidebar-1o3BTy,
.container-2cd8Mz,
.container-1a3EgQ,
.applicationStore-2nk7Lo,
.sidebar-1tnWFu,
.pageWrapper-2PwDoS,
.membersWrap-3NUR2t,
.panels-3wFtMD,
.container-1NXEtd,
.privateChannels-oVe7HL {
	border-radius: var(--border-radius) !important;
}
.container-1NXEtd::after {
	background-color: var(--background-primary);
}
.container-1NXEtd {
	height: 90%;
}
/* add margins around edges */
.container-2cd8Mz,
.container-1a3EgQ,
.applicationStore-2nk7Lo,
.chat-2ZfjoI,
.pageWrapper-2PwDoS {
	margin: 10px;
}

.threadSidebar-1o3BTy {
	margin: 10px 10px 10px 0px;
}

.notice-2HEN-u {
	margin: 10px 10px 0px 0px;
}

.notice-2HEN-u.noticeWrapper-8z511t {
	margin: 20px 10px 0px 10px;
}

.sidebar-1tnWFu {
	margin: 10px 0px 10px 0px;
}

.wrapper-1_HaEi {
	margin: 10px 0px 0px 0px;
}

/* remove chat background */
.chat-2ZfjoI {
	background: none !important;
}

/* remove title bar background */
.title-31SJ6t {
	background: none !important;
	width: auto;
}

/* add chat background and make rounded */
.chatContent-3KubbW {
	background-color: var(--background-primary);
	border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

/* add background to title bar and make rounded */
.chatContent-3KubbW::before {
	content: "";
	position: relative;
	margin-top: -48px;
	background: var(--background-primary);
	width: 100%;
	height: 48px;
	border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

/* put thread join/archive banner on top */
.chatHeaderBar-2fUORh {
	z-index: 1;
}

/* put toolbar on top */
.toolbar-3_r2xA {
	position: relative;
	z-index: 1;
	margin-left: 8px;
}

.iconWrapper-2awDjA[aria-label="Threads"] {
	width: 36.1px;
}

.iconWrapper-2awDjA[aria-label="Threads"] .icon-2xnN2Y {
	margin-left: auto;
}

/* hide toolbar icons */
.iconWrapper-2awDjA[aria-label="Help"] {
	display: none;
}

.iconWrapper-2awDjA[aria-label*="Member List"] {
	order: 1;
}

/* position search */
.search-39IXmY {
	order: 1;
	margin-left: 36px;
	margin-right: 8px;
}

.searchBar-zdmu7v {
	width: 208px !important;
	padding: 0px 2px;
}

/* position members list and add margins/rounded */
.membersWrap-3NUR2t {
	position: relative;
	height: 100%;
}

.members-3WRCEx {
	border-radius: 0px 0px var(--border-radius) var(--border-radius) !important;
}

.container-2o3qEW {
	margin-left: 10px;
}

.container-2o3qEW::before {
	content: "";
	position: relative;
	margin-top: -48px;
	background: var(--background-primary);
	height: 48px;
	border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

/* create space for search bar */
.members-3WRCEx div h2:first-of-type {
	margin-top: -10px;
}

/* fix search results */
.searchResultsWrap-5RVOkx {
	width: 470px;
	margin-left: 10px;
	background-color: var(--background-secondary);
}

.searchResultsWrap-5RVOkx::before {
	margin-top: -48px;
	z-index: 1;
	content: "";
	position: fixed;
	background-color: var(--background-primary);
	width: 470px;
	height: 48px;
	border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.channelName-3w2Y3c {
	background: none;
}

.message-2CShn3 {
	margin: 1px;
	border-radius: var(--border-radius);
}

/* only show scrollbar when hover */

/* position window controls bar */
.typeWindows-2-g3UY {
	position: absolute;
	height: 20px;
	width: 100%;
	margin: 0;
	background: none;
}

/* fix padding */
.typeWindows-2-g3UY + .app-3xd6d0 .container-1eFtFS {
	padding-top: 10px;
}

.typeWindows-2-g3UY + .app-3xd6d0 .notice-2HEN-u.noticeWrapper-8z511t + .layers-OrUESM .container-1eFtFS {
	padding-top: 0px;
}

.scroller-3X7KbA {
	padding: 0;
}

.wordmarkWindows-2dq6rw {
	padding: 2px 9px;
}

/* create window control buttons */
.typeWindows-2-g3UY .winButton-3UMjdg > svg {
	display: none;
}

.typeWindows-2-g3UY .winButton-3UMjdg {
	background: none;
	top: 0;
	width: 12px;
	height: 12px;
	margin: 4px 12px 0px 0px;
}

.typeWindows-2-g3UY .winButton-3UMjdg:nth-child(2) {
	margin-right: 12px;
}

.typeWindows-2-g3UY .winButton-3UMjdg::after {
	content: "";
	height: 12px;
	width: 12px;
	border-radius: 12px;
	transition: 0.1s;
}

.typeWindows-2-g3UY .winButtonClose-3Q8ZH5::after {
	background-color: hsl(0, 50%, 50%) !important;
}

.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(3)::after {
	background-color: hsl(120, 50%, 50%) !important;
}

.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(4)::after {
	background-color: hsl(50, 50%, 50%) !important;
}

.typeWindows-2-g3UY > div:hover::after {
	transform: scale(1.1);
}

.container-2o3qEW {
	border-radius: var(--border-radius);
}
/* other */
